<%= render 'devise/shared/header' %>

<div class="db-input">
  <%= link_to "Add New Category", new_group_path, class: "db-input-link" %>
</div>

<div class="cat-list">
  <ul>
    <% @groups.each do |group| %>
      <li class="cat-list-item">
        <div> 
          <%= image_tag "#{group.icon}"%>
        </div>
        <h3> <%= group.name %> </h3>
        <div>
          <%# <p> <%= group.total_expenses %> </p> %>
          <p> <%= group.created_at %> </p>
        </div>
      </li>
    <% end %>
  </ul>
</div>