<%= render 'devise/shared/header' %>

<div class="db-input">
  <%= link_to "Add New Category", new_group_path, class: "db-input-link" %>
</div>

<div class="cat-list">
  <ul>
    <% @groups.each do |group| %>
      <li class="cat-list-item">
        <div class="cat-list-image"> 
          <%= image_tag "#{group.icon}", class: "cat-list-logo" %>
        </div>

        <div class="cat-list-desc">
          <%= link_to group_expenses_path(group.id), class: "cat-list-link" do %>
            <h3> <%= group.name %> </h3>
          <% end %>
          <p> Amount: <%= group.total_expenses %> </p>
          <p> Date Created: <%= group.created_at %> </p>
        </div>
      </li>
    <% end %>
  </ul>
</div>